@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .view {
    @apply border-dark box-border
  }
  ::-webkit-scrollbar {
    width: 0.3rem;
  }

  ::-webkit-scrollbar-thumb {
    @apply cursor-pointer hover:bg-gray-500/30 bg-gray-600/20 rounded-lg;
  }

    .border-dark-right {
      @apply border-r-[1px] border-neutral-500/10;
    }
  
    .border-dark-left {
      @apply border-l-[1px] border-neutral-500/10;
    }
  
    .border-dark-top {
      @apply border-t-[1px] border-neutral-500/10;
    }
  
    .border-dark-bottom {
      @apply border-b-[1px] border-neutral-500/10;
    }
  
    .border-dark {
      @apply border-[1px] border-neutral-500/10;
    }

    @font-face {
      font-family: 'productBold';
      src: url('./assets/fonts/GoogleSans-Bold.ttf');
    }
    @font-face {
      font-family: 'product';
      src: url('./assets/fonts/GoogleSans-Regular.ttf');
    }
    @font-face {
      font-family: 'productSemiBold';
      src: url('./assets/fonts/GoogleSans-Medium.ttf');
    }
}
