@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *{
    /* @apply thin-box-divider */
  }
  ::-webkit-scrollbar {
    width: 0.45rem; 
  }

  ::-webkit-scrollbar-thumb {
    @apply cursor-pointer bg-[#1a1c1e]/10 hover:bg-[#1a1c1e]/20 rounded-lg;
  }
  .sample2 {
    @apply border-[1px] bg-[#333545]/10;
  }
  .sample {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 6px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .thin-box-divider {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  }

  .thin-left-divider {
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-top-divider {
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-right-divider {
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-bottom-divider {
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  /* fonts */
  @font-face {
    font-family: "helvetica-bold";
    src: url("./assets/fonts/Helvetica-Bold.ttf");
  }
  @font-face {
    font-family: "helvetica-boldOblique";
    src: url("./assets/fonts/Helvetica-BoldOblique.ttf");
  }
  @font-face {
    font-family: "helvetica-compressed";
    src: url("./assets/fonts/helvetica-compressed.otf");
  }
  @font-face {
    font-family: "helvetica-light";
    src: url("./assets/fonts/helvetica-light.ttf");
  }
  @font-face {
    font-family: "helvetica-Oblique";
    src: url("./assets/fonts/Helvetica-Oblique.ttf");
  }
  @font-face {
    font-family: "helvetica-roudedBold";
    src: url(./assets/fonts/helvetica-rounded-bold.otf);
  }
  @font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/Helvetica.ttf");
  }
}
