@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    /* @apply thin-box-divider */
  }
  
  .view{
    /* @apply thin-box-divider */
    @apply border-dark
  }
  ::-webkit-scrollbar {
    width: 0.45rem;
  }
 
  ::-webkit-scrollbar-thumb {
    @apply cursor-pointer bg-[#1a1c1e]/10 hover:bg-[#1a1c1e]/20 rounded-lg;
  }
  .border-dark-right {
    @apply border-r-[1px] border-[#323339]/50;
  }
  .border-dark-left {
    @apply border-l-[1px] border-[#323339]/50;
  }
  .border-dark-top {
    @apply border-t-[1px] border-[#323339]/50;
  }
  .border-dark-bottom {
    @apply border-b-[1px] border-[#323339]/50;
  }
    .border-dark {
      @apply border-[1px] border-[#323339]/50;
    }
  .sample {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 6px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .thin-box-divider {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  }

  .thin-left-divider {
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-top-divider {
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-right-divider {
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }

  .thin-bottom-divider {
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  /* fonts */

  @font-face {
    font-family: "ProductSansRegular";
    src: url("./assets/fonts/ProductSansRegular.ttf");
  }
  @font-face {
    font-family: "ProductSansBold";
    src: url("./assets/fonts/ProductSansBold.ttf");
  }
  @font-face {
    font-family: "HelveticaNeueRoman";
    src: url("./assets/fonts/HelveticaNeueRoman.otf");
  }
  @font-face {
    font-family: "HelveticaNeueMedium";
    src: url("./assets/fonts/HelveticaNeueMedium.otf");
  }
  @font-face {
    font-family: "HelveticaNeueBold";
    src: url("./assets/fonts/HelveticaNeueBold.ttf");
  }
  @font-face {
    font-family: "HelveticaNeueThin";
    src: url("./assets/fonts/HelveticaNeueThin.otf");
  }
  @font-face {
    font-family: "HelveticaNeueBlack";
    src: url("./assets/fonts/HelveticaNeueHeavy.otf");
  }
}
